<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>捐款成功</title>
</head>
<style>
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: url(/images/05.jpg) no-repeat 0px 0px;
        background-repeat: no-repeat;
        background-image: url(/images/05.jpg);
        background-size:347%;
        
        
    }
</style>
<body>
<h1>捐款成功</h1>
<h2>感谢您对慈善行业的支持</h2>

</body>

</html>