<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">

    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.js"></script>
    <script src="/javascripts/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <img src="images/11.jpg" class="wdbj">
    <div class="wode">
        <form action="/tx" method="POST" enctype="multipart/form-data">

        <ul class="wodetop">

            <li style="margin-right: 0px; width: 60%;">

                <span style="margin-top: 1rem;">头像上传</span>
                <input type="file" name="img"  class="wtx">>
                <input type="submit" class="btn btn-danger ml-3" />

            </li>

            <li>
                <a href="/wd" class="glyphicon wda">返回</a>
            </li>

        </ul>

        </form>>
    </div>

        <img style="object-fit: contain;
        object-position: center;
        background: #34495e;
        border: 1px solid #34495e;
        width: 390px;
        height: 644px;" 
        src="images/11.jpg">

</body>

</html>